body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: url(https://images.unsplash.com/photo-1491848128688-e0c30289e89f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.container {
    margin: 20% 20px auto;
    height: 100vh;
}

.row {
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 32% 36% 32%;
}

.col {
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.39);
    color: gold;
    margin-left: 5px;
    height: 100%;
}

.col span {
    color: white;
}

.key {
    font-size: 4rem;
}

.ok {
    transform: scale(0.99);
    border: 1px solid gold;
    color: wheat;
    background-color: black;
    transition: 0.08s;
    box-shadow: 0 0 5px 5px gold;
}
tom-l{
    display: inline;
    color: tomato;
}